
<div class="row">
    <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>Create new Sensorino</legend>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="sname">Name</label>
          <div class="controls">
            <input id="sname" name="sname" placeholder="only alphanum"
                class="input-xlarge" required="" type="text" ng-model="sensorino.name">
            <p class="help-block">What name do you want to use to refer to this sensorino</p>
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="slocation">Location</label>
          <div class="controls">
            <input id="slocation" name="slocation" placeholder="SomePlace"
                class="input-xlarge" type="text" ng-model="sensorino.location">
            <p class="help-block">Where is this sensorino ? Kitchen, Garage ...</p>
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="sdescription">Description</label>
          <div class="controls">
            <input id="sdescription" name="sdescription" 
                class="input-xlarge" required="" type="text" ng-model="sensorino.description">
            <p class="help-block">Tell some more about this little puppy</p>
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="sowner">Owner</label>
          <div class="controls">
            <input id="sowner" name="sowner" 
                class="input-xlarge" type="text" ng-model="sensorino.owner" >
            <p class="help-block">Tell some more about this little puppy</p>
          </div>
        </div>


        </fieldset>

    <button ng-click="createSensorino(sensorino)">SAVE</button>
    </form>

    <pre>form = {{sensorino | json}}</pre>
    <pre>master = {{master | json}}</pre>

</div>


