        <div class="row">
             <!--Sidebar content-->
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Sensorinos</a></li>
                    <li><a href="#">Graphs</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Dashboard</h1>
                <div class="row">
                 Search: <input ng-model="query">
                <!--Body content-->
                    <ul class="sensorinos">
                    <li ng-repeat="sens in sensorinos | filter:query ">
                        <b>{{sens.name}}</b>
                            {{sens.description}} with id {{sens.sid}} is at {{sens.location}}
                        <button ng-click="deleteSensorino(sens.sid)">delete {{sens.sid}}</button>
                    </li>
                    </ul>
                </div>

               

            </div>
        </div>

