
<!-- Services -->
<div class="row">
     <!--Sidebar content-->
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#/sensorinos">Sensorinos</a></li>
            <li><a href="#/charts">Graphs</a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2><small>sensorino:</small> {{sensorino.name}}</h2>

        <h2>Services</h2>
        <table class="table">
            <tr><th>Service name</th><th>type</th><th>serviceId</th><th/><th/></tr> <!-- TODO: device -->
            <tr ng-repeat="service in services">
                <td><a href="#/sensorino/{{sensorino.address}}/dataServices/{{service.serviceId}}">{{service.name}}</a></td>
                <td>{{service.dataType}}</td>
                <td>{{service.serviceId}}</td>
                <td>
                    <button type="button" class="btn btn-default btn-lg" ng-click="move('#/sensorino/'+sensorino.address+'/dataServices/'+service.serviceId)">
                         <span class="glyphicon glyphicon-stats"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-lg" ng-click="deleteService(service.serviceId)">
                         <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="showForm==false">
        <button type="button" class="btn btn-default btn-lg" ng-click="activateForm()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>




    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="serviceForm" name="serviceForm" ng-show="showForm">
        <form class="form-horizontal">
            <fieldset>

            <!-- Form Name -->
            <legend>Create new Service</legend>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="sname">Name</label>
              <div class="controls">
                <input id="sname" name="sname" placeholder="only alphanum"
                    class="input-xlarge" required="" type="text" ng-model="newService.name">
                <p class="help-block">What service is that ?</p>
              </div>
            </div>
            <!-- Select Basic -->
            <div class="control-group">
              <label class="control-label" for="dataType">Choose data type</label>
              <div class="controls">
                <select id="dataType" name="dataType" class="input-xlarge" ng-model="newService.dataType">
                  <option value="Temp">Temp</option>
                  <option>Humidity</option>
                  <option>Light</option>
                </select>
              </div>
            </div>


            </fieldset>

            <button ng-click="createService(newService)">Create Service</button>
        </form>


    </div>


</div>

